[2017-10-02 13:44] Helkyd opened #27 "HealthCare: Patient Name should be Customer's name"
As i have commented https://discuss.erpnext.com/t/erpnext-healthcare-merged-to-develop/28205/20
Also i have noticed that by default Administrator cannot delete the Patient record (correct) but don't see also the Status option to disable the record if the same is not correct.

I have created two Patients with same name and on the first the Customer name was the Patient record name and on the Second

[2017-10-25 11:14] Zlash65 commented on #27
![patient-name](https://user-images.githubusercontent.com/11695402/31995750-5d555764-b9a3-11e7-9d9d-9b040f33eb9e.gif)
Will this serve the purpose ?
Saving the Patient will create Customer with the same name and that customer will have a link back to the Patient entry. Its a two way link between both and in a closed loop yet [ deleting either of them would be not possible. As such deleting a patien

[2017-10-26 19:16] Helkyd commented on #27
Agree. Deleting is not advised as the info is always required. But you should be able to disable the Patient and not the customer as I might need to buy something from the pharmacy as customer.

[2017-10-27 18:33] addymuliady opened #28 "Healthcare - Customer Dashboard - Should have Healthcare related DocType"
Frappe/ERPNext 9.2.x

Healthcare Related DT such as Patient DT and maybe Consultation and Medical Record should appear on Dashboard and vice versa (Patient DT Dashboard should be linked to Customer Sales Invoice).

![image](https://user-images.githubusercontent.com/21187126/32119440-d09785b8-bb87-11e7-8383-30838b1f9cfc.png)

[2017-10-28 07:19] rkurungadam commented on #28
All info is avalable in Patient doctype dasboard, not sure if this can be made available in Customer as none of the healthcare doctypes has direct customer reference. Also multiple patients can be linked to one customer.

[2017-10-28 09:04] addymuliady commented on #28
Hi @rkurungadam

Doesn't Patient DocType linked to Customer?

What if I want to view a patient's sales invoice? The integration between Healthcare and ERPNext is still very much far apart. I very much appreciate the contribution but I find that there is little integration from a user point of view. Hope you take my comments positively to make the integration better.

![image](https://user-images.g

[2017-10-28 10:08] rkurungadam commented on #28
Appreciate your feedback.
May be adding a custom field Patient in Sales Invoice for healthcare domain should help solve this, will raise a PR.
Hope to hear more!
Thanks

[2017-11-04 17:23] gbard opened #30 "Issue when updating from 9.1.6 to any newer version with Healthcare domain activated"
I was getting an error when trying to update using "bench update --reset" from version 9.1.6 to any newer version. From the forum, a user having a similar error had to permanently delete files from "Deleted Files" to be able to update but I didn't work for me. To solve the issue I had to restore a backup of my pre-update installation, deactivate the "Healthcare Domain" and redo the update which wo

[2017-11-05 07:38] rkurungadam commented on #30
Hi, Just updated to 9.2 from 9.1 with healthcare domain active, not able to reproduce this. "All Item Groups" is the root of Item Group, it should exist in you db, not sure why "frappe.exceptions.LinkValidationError: Could not find Parent Item Group: All Item Groups"
this shows up. Could you verify in you db if "All Item Group exists.
Thanks

[2017-11-05 12:28] Zlash65 commented on #30
Take a look at this - https://discuss.erpnext.com/t/update-error-in-frappe-get-single-domain-settings-save/30198
It could a translation issue if your default language is something else perhaps

[2017-11-07 00:21] gbard commented on #30
I do use the French language.

[2017-11-14 11:48] kennethsequeira opened #31 "[Bug] Healthcare Module Issues"
1. In the Link field of Accounts, only child accounts should be selectable as posting in the group account is not allowed. It leads to issue when creating Sales Invoice.

![screenshot from 2017-11-14 17-08-36](https://user-images.githubusercontent.com/33246109/32778274-4989981e-c95f-11e7-8373-c57e8e30bb13.png)

2. Appointment to Consultant:

If consultation is cancelled, then the status of Appoint

[2017-11-15 07:39] rkurungadam commented on #31
Hi, fixes for 1 and 2 are pushed. Will allow duplication once validations for Appointments are in place.
Thanks for reporting.

[2017-12-21 13:17] jigneshpshah opened #48 "Link Consultation Drug Prescription to Sales Invoice for Pharmacy"
Feature Request : Healthcare , Pharmacy

For Pharmacy to deliver drugs prescribed by the doctor to the patient

Drug Prescription added in consultation should be linked to Sales invoice

![image](https://user-images.githubusercontent.com/4900815/34256557-efb7391a-e67b-11e7-97e3-e7b7c13ad590.png)

In Sales Invoice drugs can be loaded from Patient Appointment  ID .

1) Customer = Patient

2) Patient

[2018-01-26 05:31] mudux commented on #28
I agree with @addymuliady on this..

Perhaps a re-engineering of the Dash board to accept and display all other domains linkages where they exist and where they dont it doesnt display.

[2018-01-28 17:48] mascor commented on #27
Hi,
is the function of automatically creating a customer with the same name of the patient, already implemented in the last version of ERPNext?

Thanks
Bye

[2018-02-08 11:15] mafrica opened #41 "Patient Addresses"
So as a newbie to Healthcare with ERPNext I am trying to feel my way forward.  I apologise if this ground is well trodden but I am struggling a little in trying to tap the right resources.

So my first issue is that I wish to attach a patient to a location (this is required for emergencies, transport planning and effectiveness studies).  I understand that there is a relationship between patient an

[2018-02-09 05:34] umairsy commented on #41
Hello,

For now, Patient is not selectable in the Address master.

![screen shot 2018-02-09 at 11 01 54 am](https://user-images.githubusercontent.com/910238/36013195-ee4fd5b2-0d88-11e8-8c2b-306eea914e7d.png)

@rkurungadam can you check into it please and enable select of Patient in the Address?

[2018-02-09 06:29] rkurungadam commented on #41
@umairsy guess the Patient reference to customer would help manage this, anyways will look into adding Patient. BTW @mafrica is more concerned about masters for city, village etc. Adding a refrence to territory in address and mapping region, district, ward, village etc as territory tree would help you acheive this.
Thanks

[2018-02-15 10:37] mafrica commented on #41
The territory tree structure looks a good way to declare addresses and pick the right one but when stored in customer it appears that I just get the end leaf and thus if I am trying to report on say the incidence (number of customers/patients) with a condition in a village then the data from the target village and all of its synonyms would be included.  I really need to record either a unique attr

[2018-05-14 06:13] shreyashah115 opened #37 "[v11] Error on saving Patient Appointment"
<img width="1243" alt="screen shot 2018-05-14 at 11 40 19 am" src="https://user-images.githubusercontent.com/17617465/39980894-c22ba7b8-576b-11e8-9811-20b15d77f962.png">

[2018-06-10 12:06] royalhospital opened #38 "payment by INSURANCE option"
We are a hospital located in Kenya, testing your platform for possible adoption. We are thankful for a great system.
Though we have one humble request:
Most of our patients pay using their insurance cards, a few pay directly using cash.
If it is possible to include an option for "using insurance cards" as a means of payment, we would be grateful.
Thanks in advance.

[2018-06-11 06:44] rkurungadam commented on #38
Hi and welcome, we are working on this, please join the gitter chanel https://gitter.im/erpnexthealthcare/Lobby, we will be posting the planned features and worflows here.
Thanks

[2018-06-11 12:42] mudux commented on #38
We are in Bungoma/Kenya and have been using ErpNext healthcare module since july 2017.. we have operationalised IP and insurance payments as per Kenyan requirements.
Am trying to cooperate with the developers of ErpNext where possible to have the necessary features adopted. let me know how I can assist..

[2018-06-20 14:24] royalhospital commented on #38
Thanks for your kind offer. We are definitely ready for any cooperation that will help improve the use of this software for our market

[2018-06-20 14:39] royalhospital opened #36 "Auto Invoice"
Issue: Feature Request
I am testing this software for a health facility. Its fantastic!! Great thanks to its creators!!!
is it possible for invoices to be generated automatically in the below mentioned scenarios
1. when a lab test is requested by the physician or submitted by the lab test approver
2.  when a physician submits consultation
3. when physician prescribes drugs
4. whenever any services

[2018-07-05 05:35] mudux commented on #38
call me we discuss more.. 0724713459

[2018-07-26 14:04] fatheyabdelslam opened #39 "erpnext v10 Healthcare PATIENT RELATION should be unique"
in erpnext Patient in child table PATIENT RELATION
i can add multi the same Relation which is not write
![image](https://user-images.githubusercontent.com/32373751/43267164-7e2cda94-90ed-11e8-9956-367aedbdfe13.png)

[2018-11-19 01:41] system19 opened #47 "Unable To Create New Practitioner Schedule"
Previously I was able to create a Practitioner Schedule without issue. Since the last ERPNext update when I try to create a Practitioner Schedule the Practitioner Schedule Doctype has no visible fields to enter data into and I am unable to save Practitioner Schedule doctype due to mandatory fields.
erpnext 11.0.3-beta.24
foundation 0.0.1
frappe 11.0.3-beta.29
![practitioner schedule 001](https://u

[2018-11-19 02:35] system19 opened #46 "Unable To View Patient Medical Record"
Previously I was able to view a chosen patients medical records without issues. Currently I am able to select any patient but their corresponding medical record is not displayed. I just get a blank screen as shown below.
erpnext 11.0.3-beta.24
foundation 0.0.1
frappe 11.0.3-beta.29
![unable to view medical record](https://user-images.githubusercontent.com/7428077/48683104-a3acd180-ebff-11e8-9e8e-4

[2018-11-20 07:55] system19 commented on #46
@raghukamath To optimise the healthcare work flow. When "view medical record" is clicked from within a Patient Doctype, That same patients medical record is auto loaded. Currently the user is taken to the default Medical Record Doctype where the user needs to hit "enter" to see patients record. What do you think?

[2018-12-08 22:31] system19 commented on #27
By having a seperate Patient name and linked Customer name allows a clinic to have a Patient but bill an insurance company or a state authority. Maybe children under 5 might get Govt sponsored immunisation as an example. I don't think that Patient medical records should be able to be deleted easily but see no reason why Customer info needs to be so stringent.

[2018-12-09 06:57] palashjhabak commented on #27
@Zlash65 I think this will create even more accidental duplicates if customer field is not mandatory and a new customer is created on save. So it should be a strict dependency as in any case being a patient is just a subset of being a customer, for, a hospital might have other products and services for customers who are non patients e.g Yoga or Fitness classes, Workshops for Medical Students, Supp

[2018-12-10 15:03] palashjhabak commented on #27
@mascor From what I see currently in the last version (v10) what it does is it creates a patient first and then use that auto generated Patient ID as the name of the new customer it generates. I think this flow it totally flawed. As I mentioned above it should be the other way round - Being a patient is just a subset of being a Customer

[2018-12-10 23:08] system19 commented on #27
@mascor Good point.

[2018-12-17 09:57] ashokrajbathu commented on #47
it will work, just follow the steps.
1.go to the doctype list.
2. find Practitioner Schedule.
3.click on the menu and you will see duplicate option. click on it and create a duplicate for Practitioner Schedule with some other name.
4. delete Practitioner Schedule original doctype.
5. go to previously created duplicate of Practitioner Schedule.
6. click on menu and click on duplicate.
7. give the n

[2019-02-07 15:15] savadibrahim opened #45 "Healthcare Practitioner chosen in Patient Appointment to get set in Sales Invoice"
There is a field for Healthcare Practitioner in Sales Invoice but it is not getting updated on Patient Appointment done with "Invoice Appointments automatically " configured

https://discuss.erpnext.com/t/how-do-i-get-physician-chosen-in-patient-appointment-in-sales-invoice/45265

[2019-02-11 11:23] roquegv opened #44 "Patient Appointment form doesn’t fetch Practitioner data"
Hello ERPNext Community,

I found a issue when creating a new Patient Appointment, in Healthcare module. Concretely, when I click the “Check Availability” button, a new dialog window opens. In this, I should select the “Medical Department”, “Healthcare Practitioner” and the “Date” of the appointment. Both “Medical Department” and “Healthcare Practitioner” are link fields. I have no problem with “M

[2019-02-14 12:35] roquegv commented on #44
I finally solve the issue.

Long story short, the query in `get_practitioner_list (erpnext/healthcare/doctype/healthcare_practitioner/healthcare_practitioner.py)` should be:

[code]

Explanation: the problem is with `"%%%s%%" % frappe.db.escape(txt)` which when the formatting is applied results in `%'txt'%` (where `txt` is the actual text in the input field) but it should be `'%txt%'` (that is the

[2019-02-19 02:12] rknroot commented on #46
Still, Patient Medical Record is not displaying, is there any other way to view Patient Medical Record.

[2019-02-23 14:58] yashodhank opened #43 "Healthcare - Patient Relation - select patient feature broken"
![image](https://user-images.githubusercontent.com/1083792/53288032-c673f680-37a9-11e9-89a0-c7798aef8a16.png)

Only Healthcare domain is active on fresh ERPNext instance.

Installed Apps
ERPNext: v11.1.10 (master)
Frappe Framework: v11.1.10 (master)

[code]

[2019-03-19 22:31] jakubsafarik commented on #46
Chrome DevTools shows JS error after [Select Patient] input box receives focus:
`Uncaught (in promise) TypeError: frappe.ui.BaseList is not a constructor`

Related:
https://github.com/frappe/erpnext/issues/12646

Suggested fix by netchampfaris:
https://github.com/frappe/erpnext/issues/12646#issuecomment-403752371

pipech/erpnext-docker-debian:dev-py3-latest
ERPNext: v12.x.x-develop () (develop)
Fr

[2019-03-29 06:43] digitalwordings commented on #46
+1

[2019-04-05 11:36] Umer2560 opened #35 "Appointment not showing in Patient Encounter"
hello can any 1 help me that how can i fix this issue...
The appointment field is showing nothing here in v.11 of Erpnext although i have saved 4 to 5 appointments in appointment doctype......
Thanks in advance...

![Screenshot (1)](https://user-images.githubusercontent.com/33193371/55624730-3b324b80-57c0-11e9-9414-5ea9ce0f5721.png)

These are the Patient Appointment which i have saved but these a

[2019-04-08 20:02] pjamsheer commented on #35
Please check appointment status, in Patient Encounter lists only "Open" or "Scheduled" appointments.

[2019-05-12 07:45] palashjhabak opened #34 "Unable to create an SI without a Customer being a Patient when Healthcare Domain is enabled."
Enabling the healthcare module forces SI to have the patient field compulsorily selected which shouldn't be the case as there might be other services and products which the company sell in which being a patient along with being a customer is not mandatory.

[2019-05-13 02:06] auliabismar opened #42 "Medical Record is not showing data"
Version 11.X.X
https://github.com/frappe/erpnext/issues/12646

[2019-05-14 12:51] palashjhabak opened #40 "Cancelled Lab Test Cannot be deleted."

[2019-05-15 07:34] palashjhabak commented on #40
Not its not duplicate of that. This is more to have the ability to delete the Lab Test document after Cancelling it.

[2019-05-15 10:09] palashjhabak opened #32 "[Proposal] Healthcare Practitioner Commission on Procedures/Appointment/Lab Tests"
Hi,

There is a common scenario these days where in doctors have a revenue sharing deal with Hospitals. Currently we just have an option to have them as a fixed salary employees. If we can start a discussion around on how to do it best using perhaps existing Sales Person feature or otherwise I will be very happy to do it.

There could be one of following revenue sharing scenarios.

- % Sharing
- F

[2019-05-16 19:15] palashjhabak commented on #34
Did some digging on this. After a Customer is selected, Cursor focus goes to the patient field and when one doesent select any patient, and click anywhere else, callback on patient field is called which in turn sets the customer back to empty.

[2019-06-11 12:45] akurungadam commented on #32
We have worked on something in this line, we'll ready a pull request very soon.

[2019-06-11 12:59] palashjhabak commented on #32
Hi,

In fact I have it working too. Any repo where I can check how you have done that and how is it different than my solution.

[2019-07-05 10:33] palashjhabak opened #33 "Naming series field in Patient Appointment Doctype"
Currently Patient Appointment doctype has series hard coded in the doctype definition but like other doctypes it should be controlled using the naming_series field

[2019-07-10 11:07] afandiyusuf commented on #42
Fixed in version 11.1.14
On Frappe/public/js/ui/base_list.js at row 168, change FilterList to FilterGroup,

`
this.filter_list = new frappe.ui.FilterList({,
`
to
`
this.filter_list = new frappe.ui.FilterGroup({
`

Don't forget to bench build,

[2019-07-10 11:11] afandiyusuf commented on #46
Tested in version 11.1.14
On Frappe/public/js/ui/base_list.js at row 168, change FilterList to FilterGroup,

`this.filter_list = new frappe.ui.FilterList({,`
to
`this.filter_list = new frappe.ui.FilterGroup({`

Don't forget to bench build,

[2019-07-22 03:54] cyberdee commented on #46
this doesn't fix the issue..

ERPNext: v11.1.48 (master)
Frappe Framework: v11.1.43 (master)
Ubuntu 16.04

[2019-07-25 06:59] HackerDyn opened #74 "Healthcare Practitioner list doesn't fetch in any form"
Hi Guys,

I have encountered one issue in Healthcare practitioner. eventhough I have created the master entries for practitioners with all time schedules, the practitioners data is not fetching in any linked forms. for example in patient appointment form etc. seems like the get_practitioner_list is having some issue. I have seen a similar issue here. https://github.com/frappe/erpnext/issues/16638

[2019-07-28 14:30] Salmon-Bard opened #26 "Feature: Using pynetdicom library for DICOM protocol support"
Unfortunately ERPNEXT healthcare application does not support DICOM while it is a key feature for healthcare ERP.

I did some search and found this project that revives DICOM old python legacy library with complete new python 3.X and 2.7 libraries, see:
https://github.com/pydicom/pynetdicom

My question:
Can this be used in future ERPNEXT healthcare app to support the DICOM standard protocol?

And

[2019-07-28 14:42] Nofal-Mami commented on #26
Hi,
I feel you have to post in discuss forum since here to raise issues only, sure community will answer your questions.

[2019-07-28 21:02] Salmon-Bard commented on #26
Already did and no reply. I changed title to indicate feature request.
Thanks for your concern.

[2019-08-15 00:49] clarkejj commented on #74
Please post this also to discuss for community response and benefit and be sure to link to both post instances thanks!

[2019-08-15 14:51] HackerDyn commented on #74
Hi @clarkejj

Thank you for taking time to read the issue.. This has been already discussed here: https://discuss.erpnext.com/t/patient-appointment-form-doesnt-fetch-practitioner-data/45403/13
[my reply is the last one there]..

Thank you

[2019-09-15 00:14] alpkaan83 opened #25 "healthcare appointment application is so hard"
when giving appointment to a patient, system wants very detailed information and a patient record. but think like that: a new patient calls clinic and wants to take appointment, the secretary only need patient name and phone number. no need to patient record saved to system and no need to any other info. becouse, maybe the patient wont come to appointment, so what we do the patient record. so i th

[2019-10-01 20:19] henrynewman commented on #25
That dialog allows you to create patients without needing to go to the patient itself, and on the dialog itself, not everything is mandatory except for the name, email ( you would want the number to be added immediately in order for the ERP to send the SMS). Those other mandatory features are key especially if the hospital or clinic is growing and helps keep detailed records.

[2019-10-07 11:02] manan-ft commented on #44
@roquegv Thanks for your solution, it worked for me

[2019-11-29 08:32] akurungadam commented on #25
We are working on enhancing this.. will update soon here as we get the PR ready

[2020-01-25 23:26] Olawale1 opened #148 "[Healthcare] Company not found error"
Hi ,

In the Healthcare domain, clicking on the 'Invoice Patient Registration' button returns a 'Company not found error'

Please help fix asap

Thanks

[2020-01-28 12:12] crescent28 commented on #148
Hi @Olawale1

Please attach a screenshot of the error, also the version of your instance.

[2020-01-29 08:02] Olawale1 commented on #148
Hi @crescent28

Please see below:
![Healthcare Patient Registration Fee Issue 01](https://user-images.githubusercontent.com/9269337/73338023-ee02f700-4275-11ea-86cd-54c560de0425.png)

ERPNext: v12.4.0 (version-12)
Frappe Framework: v12.2.0 (version-12)

Thanks

[2020-05-20 15:26] setsero71 commented on #25
Hi. Any update?

[2020-05-22 09:21] palashjhabak opened #63 "Creating a New Patient should also add the contact number in the Customer/Contact doctype"
## Description of the issue
When a new Patient is created, a new Customer is created but mobile number is not copied to the Customer doctype which makes it difficult to have the contact details in any of the customer related Sales reports

## Context information (for bug reports)
Healthcare module
**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

[2020-07-05 23:37] leonardorame opened #24 "Appointment for radiology equipment"
Currently one can create an appointment for a Medical Department, Healthcare Practitioner and Date, then select a time-slot.

In Radiology, you create appointments for equipments instead of healthcare practitioners, for example, CT-Floor-1 on 2020-05-10 at 08:00.

Of course I can create a Healthcare Practitioner called "CT-Floor-1", but it would be very nice to be able to create Equipments and app

[2020-07-11 11:25] akurungadam commented on #24
Radiology appointments for Modalities is in the roadmap, it's abased on the Healthcare Service Unit similar to procedure appointments. I think, till then, you can map modalities as service units and book appointments with a different Appointment Type

[2020-07-29 08:33] diana310895 opened #23 "Not having healthcare standard module"
![imagen](https://user-images.githubusercontent.com/68945554/88776805-be7e6a00-d186-11ea-9d5b-df2e655a459c.png)

Hi,

I have been doing reports via Report Builder, but through this via, cannot be added columns with information about different document types.

So, I want to use standard reports types. When I open an standard report type (see the picture), I can add columns with information of diffe

[2020-07-29 12:08] ruchamahabal commented on #23
@diana310895 what reports do you need in your operations? We can take it as a feature request. We currently have these reports:

1. Patient History - https://docs.erpnext.com/docs/user/manual/en/healthcare/patient_history
2. Patient Progress Page - https://github.com/frappe/erpnext/pull/22474
3. Patient Appointment Analytics - https://docs.erpnext.com/docs/user/manual/en/healthcare/patient_appoint

[2020-07-29 16:33] diana310895 commented on #23
Hi.

I want a report with all the information about the patient: vital signs, prescriptions etc...

[2020-08-05 08:09] mujeerhashmi opened #149 "Healthcare: Healthcare Practitioner is not searchable by practitioner_name in Patient Encounter"
## Description of the issue
Healthcare Practitioner is not searchable by practitioner_name in Patient Encounter

[2020-08-11 14:10] mujeerhashmi opened #79 "Inpatient charges apart from ward occupancy"
@ruchamahabal @akurungadam

**Is your feature request related to a problem? Please describe.**
We need to maintain a record of and automate billing according to the services used for an inpatient like oxygen, ventilator support, HFNC etc.

**Describe the solution you'd like**
Like Inpatient occupancy table we will need nursing items table to keep track of services used during inpatient. During fin

[2020-11-03 11:50] mujeerhashmi opened #80 "Group healthcare Items in sales invoice"
@ruchamahabal @akurungadam

**Is your feature request related to a problem? Please describe.**
If the inpatient record has the same items [same inpatient occupancy added multiple times after transfers] and when creating a sales invoice for this patient the items table in the sales invoice will have multiple entries for the same item. As you can see in the image below, Deluxe Room is present twice,

[2020-11-12 09:24] mujeerhashmi commented on #80
@ruchamahabal @akurungadam

I see that every healthcare service in the inpatient record is a unique entry in DB & is tracked to be invoiced or not before the patient is discharged. As such every line item in the sales invoice is mapped to unique DB entries of healthcare services using custom fields reference_dt and reference_dn (Link type). This is resulting in multiple entries of the same healthc

[2020-12-28 07:52] mujeerhashmi commented on #149
@akurungadam @ruchamahabal Need your attention to this issue.

[2020-12-30 05:43] piratedkhan opened #22 "Lab Module"
I have suggestion that Laboratory Module should be independent of Healthcare Module. its because of its nature medical labs do exists without the complete healthcare system. Some good software for healthcare like GNU Health provide independent software  for lab management.
some features which i would like to see is.

- raw material management .
- online results mechanism for patients to see their

[2021-02-08 06:52] mujeerhashmi opened #81 "Online health package e-commerce"
@ruchamahabal @akurungadam

### **Is your feature request related to a problem? Please describe.**
A portal user is assigned a single role at the time of registration. But for a patient to be able to order a healthcare package online, he needs to be assigned a customer role as well.

### **Describe the solution you'd like**
The portal requirements for a patient to place the orders online for healt

[2021-03-01 15:00] laweschan opened #57 "Healthcare - Fee Validity"
Version 13-dev

## Description of the issue
according to https://docs.erpnext.com/docs/user/manual/en/healthcare/fee_validity
although it is not exactly for Version 13, however if not enable "Free follow-ups", fee validity should not auto create
however, no matter disable or enable, it will created when appointment create

## Steps to reproduce the issue

1. Healthcare Setting
2. uncheck "Free Fol

[2021-03-06 03:55] Skyeits opened #73 "Viewing Healthcare module as Web"
It would be great if we can see the health care Module can configure as website.. I am struggling to understand from where I can establish connection between Healthcare module and website module.

Regards,
Chandrasekhar

[2021-03-28 09:41] Helkyd opened #21 "Healthcare: Creating Clinical Procedure Template"
Error reported on discussion group.
https://discuss.erpnext.com/t/healthcare-please-specify-company/73252

[2021-04-25 02:26] chechani opened #20 "Healthcare Setting - Patient Name By -Auto Name Should be included"
## Description of the issue
One can Choose Naming as Auto Name because of Naming can be customized for every docs.
Auto Name Does not work as We can not set Auto Name in Healthcare Setting and this form can not be customzed
## Context information (for bug reports)

**Output of `bench version`**
13.1
(paste here)
[code]
(paste here)
[code]

[2021-06-18 06:38] pateljannat commented on #20
@chechani why do you want to autoname Healthcare Settings? Its a single doctype.

[2021-07-05 16:02] EjjE101 opened #65 "Multiple Practitioners on 1 appointment"
I would like to add multiple practitioners to 1 appointment. They could be optional to the appointment

[2021-07-05 16:04] EjjE101 opened #56 "Healthcare - Appointment & Therapy session overlap protection optional"
I would like that to make the overlap protection on creating of appointments or therapy sessions optional.

[2021-07-06 02:22] jlhollowell commented on #40
This seems to be a somewhat old issue (dating back to 2019) but I've just noticed the 'issue' remains...that is, a lab test cannot be deleted from ERPNext Healthcare. This is problematic as it is possible for a lab test to be entered in error and a need to thus there may be a need to delete tests. Has there been any work on this feature request?

[2021-08-30 13:20] gavindsouza opened #1 "Bulky Repo"
This repository contains all of ERPNext's histories, and everything apart from the healthcare module was deleted in one commit.

I feel we should instead only keep history (or commits) pertaining to the healthcare module. This would bring down the size of the repo considerably for starters. That alone will reduce the overhead to develop and maintain this app. Debugging across histories will be eas

[2021-09-02 08:21] ChillarAnand commented on #1
| History  | Commits | Size |
| ------------- | ------------- | --- |
| No rewrite  |  38k | ~1.7G| |
| Non-healthcare rewrite | 10K | ~0.3G |
| Complete rewrite | 7k | ~30M |
| Fresh repo | - | ~3M |

Since we moved healthcare as a separate app, the directory structure has changed. Due to this, while completely re-writing the history, git is pruning commits related to healthcare also. This might

[2021-09-02 08:43] ankush commented on #1
I think just by getting rid of translation and docs you'll save a HUGE amount of space.

Check this: (large objects in ERPNext repo history):  https://gist.github.com/ankush/ac3c49401ee240ea43780acf41fcbf00

90%+ of files >100 KB are just translations or doc images!

[2021-09-02 08:47] ankush commented on #1
have you tried this: https://github.com/rtyley/bfg-repo-cleaner ?

[2021-09-02 10:53] ChillarAnand commented on #1
Thanks, @ankush. Except yarn.lock file, all other files >100KB are not required.

Ran `$ bfg --strip-blobs-bigger-than 100K` and the repo size is down to ~140MB.

[2021-09-02 11:00] gavindsouza commented on #1
could we get rid of everything except healthcare from ERPNext and then change the paths, and cherry-pick all later commits after, or is it too late/pointless for that now?

[2021-09-03 09:05] ChillarAnand commented on #1
@gavindsouza cherry picking the later commits will take additional time. Since some additional healthcare prs are merged & code cleanup is done in erpnext, it makes sense to cherry pick the later commits and apply them.

With the above approach, repo size is reduced to ~5MB & history is preserved without any mangling.

Build is passing now & basic testing is done. Need to do one more round of test

[2021-09-03 10:47] gavindsouza commented on #1
Just cloned the repo again, inital clone size has come down to `3.3MiB` 😄

[2021-09-06 08:41] rtdany10 opened #3 "Combined lab test result"
Lab tests are created individually. Their results are individually generated on different documents.
In a scenario where one patient does 5 tests, 5 printouts are required.

Either we could club multiple tests of same department into 1 Lab Test document or maybe keep a print format that fetches test results of that patient all in one print.

Although, I prefer to allow multiple tests in one docume

[2021-09-07 06:31] pjamsheer commented on #3
@rtdany10 If I am not wrong please check https://docs.erpnext.com/docs/v13/user/manual/en/healthcare/lab_test_template#14-grouped-result-format and you can create print format from invoice to print all the labtest in one print !!

[2021-09-07 06:56] rtdany10 commented on #3
Hai @pjamsheer, assume I have 100 different lab tests. If I am to group lab tests, the total number of lab test templates are going to be huge.

Plus, doctors are not going to select grouped lab test template in encounter. They'll select individual tests by name as each patient require different tests.

Grouping lab test has another purpose but unfortunately can't be used for this one.

[2021-09-15 03:00] akurungadam commented on #3
Yes, we should have a print format which would print all lab tests for the Patient, Lab Tests based on Invoice or Encounter similar to 'Create multiple" option available in Lab Test list view.

[2021-09-19 17:14] aakvatech opened #5 "fix: Cannot filter Healthcare Practitioner by Department"
https://github.com/frappe/healthcare/blob/59a79ed2e6f7175bbdb72a2592661c3a106f4108/healthcare/healthcare/doctype/healthcare_practitioner/healthcare_practitioner.py#L83

This standard query shows list of all Healthcare Practitioner and does not allow passing filter parameters. In Patient Appointment it shows all Healthcare Patients within a Department even if the Healthcare Practitioner is of speci

[2021-09-19 17:16] aakvatech commented on #3
https://github.com/aakvatech/hms_tz/tree/main/hms_tz/hms_tz/print_format/lab_test_results

You may modify and use this. This is for all lab test related to that patient ordered in the same group of encounters. It's specific to our requirements, but it may be useful for you.

![image](https://user-images.githubusercontent.com/35020381/133936784-2f88e963-1cb9-4734-b266-b981d7cf3fab.png)

[2021-09-22 20:18] mujeerhashmi commented on #3
We have seen the most effective & efficient way is to let the user select lab tests from the list-view and print a merged report of selected lab tests.

[2021-09-23 11:30] mujeerhashmi commented on #3
I have raised this [PR](https://github.com/frappe/erpnext/pull/27642).

[2021-09-27 07:05] rtdany10 opened #7 "Free follow ups"
Currently, free follow-ups (Fee Validity) are based on Patient Registration, but, I believe free follow-ups should be based on consultations (invoiced Patient Encounter).

If I go to a hospital, I will first have to register myself there and get an OP Card. But that registration doesn't provide me any free consultation(in most cases). Once I'm registered in their database, I can schedule a consult

[2021-09-27 09:13] ChillarAnand commented on #7
Thanks, @rtdany10 for the suggestion.

Currently, fee validity is based on appointment. Should we make it configurable so that users can select Appointment/Encounter in healthcare settings?

@ruchamahabal @akurungadam  Thoughts?

[2021-09-27 10:05] rtdany10 commented on #7
I disagree to this. According to me, fee validity is based on patient registration.

You can see it here:
https://github.com/frappe/healthcare/blob/c9fd664a76119c6921ba2be593ee3ef50a1d0efa/healthcare/healthcare/doctype/fee_validity/fee_validity.py#L26

This if condition makes sure free follow-up is given only to new patients. Old patients doesn't get free follow ups.
In most hospitals, it doesn't

[2021-09-27 10:24] akurungadam commented on #7
Thanks Dany and Anand, considering that Patient Encounter can be invoiced without having appointments, we should be adding this. Maybe moving the Fee Validity logic to Patient Encounter is also an option - I'm not altogether sure, we’ll need to check and come back

BTW, @rtdany10 Fee Validity is not really based on Patient Registration (new Patient), Patient Appointment insert should be doing this

[2021-09-27 10:49] rtdany10 commented on #7
Although Patient Appointment insertion does the function call, it checks if the patient is new or old before creating fee validity. In case the patient is old, it returns null (as seen in the link in my above comment).

We overrode few functions using a custom app to generate fee validity whenever a patient paid for a consultation(ie Sales Invoice against Patient Encounter/Appointment). Can send a

[2021-09-27 11:13] ruchamahabal commented on #7
`check_is_new_patient` checks if there is an existing appointment of that patient with the selected practitioner. Doesn't matter if patient registration was old.

https://github.com/frappe/healthcare/blob/cb3fbab0ed7deeaffdace12926c7b7c8c64661ed/healthcare/healthcare/doctype/fee_validity/fee_validity.py#L40-L56

This has to end after a certain number of consultations right? How should we make sure

[2021-09-27 11:47] rtdany10 commented on #7
I'll give you a scenario:
Assume we have free follow-up enabled and number of free follow-ups are 2.
I went to doctor A. This is my first ever visit and hence I get 2 free follow-up. He suggested me to get some tests done. I get the result after a day and visits him. Both the visits are free.

Note: I didn't pay my consultation fees here. In settings, we enabled free follow-ups only, not free cons

[2021-09-27 13:27] akurungadam commented on #7
This is by booking Patient Appointment I suppose? Will check the implementation and apply a fix soon, thanks for reporting.

[2021-09-27 13:54] ruchamahabal commented on #7
This has been fixed in https://github.com/frappe/erpnext/pull/27156. Now you have to pay for first consultation and "follow ups" are free.

Afaik, this use case was never part of the feature. Can be considered though. Thanks for bringing it up. This can be a part of healthcare settings because different hospitals might have different use cases.

- Enable free follow-ups after every consultation or

[2021-09-27 14:13] rtdany10 commented on #7
My bad, I missed that. Thank you!
Been lazy to report this issue for a long time that I didn't realize it got fixed. Sorry for your time.

Thank you :)

[2021-10-04 10:24] ChillarAnand commented on #1
Closing this as the repo size has reduced considerably.

@ruchamahabal, @gavindsouza, @ankush Thanks for the help.

[2021-10-04 10:25] #1 closed, assigned to ChillarAnand

[2021-10-10 11:45] rtdany10 opened #10 "Root Healthcare Service Unit deleted while clearing company transactions"
![HSU Error](https://user-images.githubusercontent.com/52111700/136693847-54f2e1a9-e185-4df6-ac16-cd644c7f8d30.gif)

Upon running 'Delete all the Transactions for this Company', Healthcare Service Units are also removed, including the root.
And it's not possible to add any other units as the root is removed.

But for some weird reasons, I was able to add the root back via Quick Entry after like 3

[2021-10-28 05:37] ruchamahabal commented on #25
This was fixed in: https://github.com/frappe/erpnext/pull/20811

[2021-10-28 05:37] #25 closed, assigned to nobody

[2021-10-29 04:17] ChillarAnand commented on #21
Even with multiple companies, creating clinical procedure template with “allow consumption” should work fine.

Closing this issue for now. Feel free to re-open if you are able to reproduce this issue without the custom code.

[2021-10-29 04:17] #21 closed, assigned to ChillarAnand

[2021-10-29 09:05] akurungadam commented on #28
Patient link has been added to Sales Invoice since then, and all healthcare document links are part of the Patient dashboard. Closing this considering that Linked DocTypes are configurable in latest version.

[2021-10-29 09:05] #28 closed, assigned to nobody

[2021-10-29 09:06] #30 closed, assigned to nobody

[2021-10-29 09:14] akurungadam commented on #41
Patient doctype can be linked in Address and Contact, and if required a custom field to set the geolocation should also help.

[2021-10-29 09:14] #41 closed, assigned to nobody

[2021-10-29 09:27] akurungadam commented on #37
This should be fixed in subsequent updates. This somehow went unnoticed, excuse me for that. do post if you face any issues related to this, wil pick it up

[2021-10-29 09:27] #37 closed, assigned to pjamsheer, deepeshgarg007

[2021-10-29 09:58] akurungadam commented on #46
Patient History has been redesigned recently by Rucha, I guess it's safe to close this

[2021-10-29 09:59] #46 closed, assigned to rkurungadam

[2021-10-29 10:01] akurungadam commented on #47
Looks like it was a one off issue in the version and was fixed in subsequent updates. Closing this, please post if you find any further issues, thanks.

[2021-10-29 10:01] #47 closed, assigned to pjamsheer

[2021-10-29 10:16] #35 closed, assigned to nobody

[2021-10-29 10:20] akurungadam commented on #23
I guess [Patient History](https://docs.erpnext.com/docs/user/manual/en/healthcare/patient_history) as Rucha pointed out should have all care related information related to the Patient?

[2021-10-29 10:38] akurungadam commented on #42
the referenced issue has been closed, closing this too. Please note Patient History has been redesigned recently by Rucha, please update to version 13, thanks.

[2021-10-29 10:38] #42 closed, assigned to nobody

[2021-11-07 11:16] landryjohn opened #49 "healthcare is not available in ERPNext"
After the successful installation of ERPNext. And the activation of all modules. I don't see the healthcare module in the modules. How to make it visible please. I have already checked that it is enabled in "Domain Settings". But it is not always visible.

[2021-11-08 04:31] ChillarAnand commented on #49
@landryjohn Once ERPNext is installed, you need to install healthcare app separately. You can find the instructions at https://github.com/frappe/healthcare/pull/50/files

[2021-11-08 12:13] landryjohn commented on #49
Thank !!! It works.

[2021-11-08 12:13] #49 closed, assigned to ChillarAnand

[2021-11-08 12:16] landryjohn opened #52 "Integrate MedDream DICOM Viewer In ERPNext Healtcare"
Please, is there an official documentation on how to integrate MedDream DICOM Viewer in ERPNext Healthcare. This is for manage Medical Imaging in the application.

[2021-11-08 13:07] ChillarAnand commented on #52
@landryjohn Currently, there is no support for DICOM integration. It is in the Healthcare roadmap and it will take sometime to provide DICOM support officially.

[2021-11-11 04:50] rmehta opened #55 "Write a better README"
Write a better README with

1. Introduction
2. Key features
3. How to install
4. License
5. Credits and Key Contributors

[2021-11-12 05:36] ChillarAnand opened #58 "Blood bank module in frappe healthcare"

[2021-11-25 12:27] ChillarAnand commented on #63
In the latest version, patient/customer contact details are stored in `Contact` doctype and this issue is fixed with that.

Closing this issue @palashjhabak. Feel free to re-open if it is still reproducible.

[2021-11-25 12:27] #63 closed, assigned to ChillarAnand

[2021-11-27 16:21] tribikramsahu commented on #65
+1 Needed

[2021-11-27 16:36] ankush commented on #65
Please open future requests in https://github.com/frappe/healthcare

The Healthcare module in ERPNext won't receive any new major features.

[2022-01-12 05:45] #55 closed, assigned to ChillarAnand

[2022-01-27 14:33] ankush opened #70 "drop six usage"
https://github.com/frappe/frappe/pull/15763

https://github.com/frappe/healthcare/blob/699fca0b37ce626fcbc4d710ad57c4c4423d56e2/healthcare/healthcare/report/diagnosis_trends/diagnosis_trends.py#L8

https://github.com/frappe/healthcare/blob/59a79ed2e6f7175bbdb72a2592661c3a106f4108/healthcare/healthcare/report/patient_appointment_analytics/patient_appointment_analytics.py#L9

[2022-01-28 04:48] ChillarAnand opened #71 "RIS - Radiology Information System"
Need to have radiology workflows in healthcare.

Integrate with PACS to fetch DICOM data.

Add dicom viewer to view dicom files directly from healthcare module.

[2022-01-28 04:50] ChillarAnand commented on #71
Related issues

https://github.com/frappe/healthcare/issues/26

https://github.com/frappe/healthcare/issues/98

[2022-01-28 05:17] #70 closed, assigned to ChillarAnand

[2022-02-10 13:41] akurungadam opened #75 "FHIR compliance"
- Restful FHIR
- Exchange format - JSON
- Security
    - OAuth2
- FHIR Versions
- FHIR Profiles
- Doctype changes to accommodate resource mapping

[2022-02-12 05:23] #5 closed, assigned to ChillarAnand

[2022-02-14 04:17] sidharthramesh commented on #75
There are libraries that take care of the serialisation and deserialisation to FHIR. So you can do the mapping just for json, but you’ll get support for XML as well.
Eg: https://github.com/nazrulworld/fhir.resources

Currently R4 is the most popular version of FHIR and is mandated by multiple government programs worldwide.

[2022-02-14 04:29] sidharthramesh commented on #71
Okay. If you don’t plan on implementing DICOM and DICOMweb in python, I’d suggest a good alternative is to use something like Orthanc that’s already battle tested.

It gets complicated really fast since you’ll have to think about things like S3 object storage when migrating to the cloud. Most of this is already present as plug-ins in Orthanc.

There are also really good DICOM viewers that can be i

[2022-02-14 04:51] ChillarAnand commented on #71
Thanks, @sidharthramesh

We are planning to use [Cornerstone](https://github.com/cornerstonejs/cornerstone) as the dicom viewer.

We will not be implementing DICOM on our own. Most of the hospitals & radiology centres will have their PACS/DICOM setup. Right now we are planning to interface with existing systems, sync the data and show the reports.

[2022-02-14 04:59] sidharthramesh commented on #71
Got it! Cornerstone will be a good choice if you want to make the DICOM viewer look “native” to ERPNext.

[2022-02-14 05:15] ChillarAnand commented on #27
This is fixed in the latest versions.

When "John Doe" patient is created, a customer with name "John Doe" is created.

[2022-02-15 01:54] cobia opened #76 "sql issue"
When I click on a Patient's name in the list of patients page, this error opens in a modal:

### App Versions
[code]
### Route
[code]
### Trackeback
[code]
### Request Data
[code]
### Response Data
[code]

[2022-02-16 04:34] akurungadam commented on #75
thanks @sidharthramesh, will check this out. btw, our models will mostly be able to support element to element mapping and I feel transforming document json to resource definitions should do it. reworking on some of the existing doctypes to make this possible.

and yes, R4 is what we are currently looking at. we’ll also have to bring in the necessary configurability to deal with other versions + s

[2022-02-16 04:40] akurungadam commented on #71
Would like to add here that bringing in worklist capability would be useful

[2022-02-18 11:58] #31 closed, assigned to nobody

[2022-02-18 12:25] ChillarAnand commented on #27
Closing this issue. Feel free to open if you are still facing the issue.

[2022-02-18 12:25] #27 closed, assigned to nobody

[2022-02-18 15:53] ChillarAnand commented on #22
Agreed. There are many diagnostic centers that just need laboratory module but not the entire healthcare module.

In that case, they can just use the lab features and other required features. Based on user roles, we can limit the interface that is accessible to the users.

This can be managed with stock module.

We need to build a patient portal for this. It is in our roadmap.

We already have [th

[2022-02-18 15:58] ChillarAnand commented on #32
In Selling, [Sales Partner](https://docs.erpnext.com/docs/v13/user/manual/en/selling/sales-partner) is available which is helpful in managing commissions.

[2022-02-21 06:31] ChillarAnand commented on #43
@yashodhank Thanks for reporting the issue.

It is fixed in the latest version of healthcare app. Feel free to re-open if you are still facing the issue.

[2022-02-21 06:31] #43 closed, assigned to nobody

[2022-02-25 06:35] yadavyk opened #150 "Unable to use Treatment Plan template in Patient Encounter"
### Information about bug

Issue : When trying to use Treatment Plan template from Patient Encounter, on hitting "Get Applicable Treatment Plans" button in Encounter Impression section, no preconfigured items, drugs, clinical procedures or lab tests are fetched. It also creates a duplicate Patient Encounter record

Snippet :

![Treatment Plan Template](https://user-images.githubusercontent.com/327

[2022-02-25 07:15] yadavyk opened #151 "Healthcare : Issue in Patient History"
### Information about bug

Issue 1 : While viewing Patient History via Patient record through view button, the user has to manually still select Patient

Steps to reproduce :

1. Go to Patient record list and open a Patient record
2. From view button select "Patient History"

Issue 2 : On opening a Patient History the charts are rendered only with values

Snippet for both issues :

![Patient Histo

[2022-02-28 04:16] muhammadmp commented on #151
@pjamsheer

[2022-02-28 04:23] muhammadmp commented on #150
@pjamsheer

[2022-03-02 10:08] #76 closed, assigned to ChillarAnand

[2022-03-05 09:53] netsec-yogi opened #86 "An error occurred while installing healthcare: Item cannot be added to its own descendents"
Recently Facing this issue while installing, hence missing lots of doctypes of healthcare app in the dashboard.
.
Installing healthcare...
Updating DocTypes for healthcare    : [========================================] 100%
An error occurred while installing healthcare: Item cannot be added to its own descendents
Traceback (most recent call last):
  File "apps/frappe/frappe/commands/site.py", lin

[2022-03-10 06:26] #86 closed, assigned to ChillarAnand

[2022-03-10 06:27] ChillarAnand commented on #86
@iitindore-citc We have pushed a fix for this in the latest `develop` branch. Pull the latest changes and reinstall it.

Feel free to re-open if you face any other issues.

[2022-03-16 11:46] sidharthramesh commented on #75
Hey @akurungadam and @ChillarAnand

I'd like to propose something I've been thinking for a while.

FHIR APIs are usually implemented in the context of a particular use case. This varies from country to country and the format of the FHIR resources also differs. For example, in the US you're expected to implement a REST API with the [US Core Profile](https://www.hl7.org/fhir/us/core/), while in Indi

[2022-03-16 13:37] akurungadam commented on #75
Hi @sidharthramesh
Interesting, we are also working on a design to support multiple FHIR profiles within Frappe Healthcare. We would surely like to understand more about the facade you have in place and are open for collaboration.

[2022-03-22 06:09] ChillarAnand opened #92 "ABDM/UHI Integration - Phase 1"
FH should be able to integrate with ABDM/UHI to sync patient medical records.

This integration should happen in 3 phases.

Phase 1: ABHA Number Service for patient discovery. Create/search for ABHA Number and sync patient demographics.

[2022-03-31 11:23] ChillarAnand opened #98 "Converting Lab Test to Diagnostic Report"
As per FHIR standards, we should use Diagnostic Report for the following tests.

- Laboratory (Clinical Chemistry, Hematology, Microbiology, etc.)
- Pathology / Histopathology / related disciplines
- Imaging Investigations (x-ray, CT, MRI etc.)
- Other diagnostics - Cardiology, Gastroenterology etc.

For imaging studies, report will also include a descriptive report.

In the first stage, we can re

[2022-03-31 11:36] mujeerhashmi commented on #98
Much needed for a long time. The descriptive result template field should be of type text-editor.

For one of our clients, we used a separate doctype to store result templates linked with lab test templates. Because the reports differ in the case of normal, abnormal, and based on diagnosis, etc. So they get to store different types of templates for the same diagnostic test. At the time of reportin

[2022-04-06 06:07] ChillarAnand commented on #73
@Skyeits Thanks for opening an issue here.

Website module is meant to create web pages that are accessible to public users. Healthcare on the other hand is meant to be used by healthcare staff at a hospital/clinic. There is also a healthcare portal where users can book appointments, view lab reports and do other activities.

Can you please provide more details about your use case and what connect

[2022-04-18 06:55] DennisLowXiaoJing opened #152 "The "invoiced" indicator in clinical procedures didn't checked after sales invoice generated"
### Information about bug

Patient encounter created,
Click "create" in Patient encounter document to create Clinical Procedure,
Navigate to Patient,
At "connection", click add Sales Invoice,
Click "Get from", select Clinical Procedure document,
Save and Submit.

The "invoiced" indicator in clinical procedures didn't checked after sales invoice generated

### Module

other

### Version

ERPNext: v

[2022-05-22 14:18] chechani opened #104 "Error while installing Healthcare App"
I am getting below error while installing healthcare App.

Installing healthcare...
Updating DocTypes for healthcare    : [========================================] 100%
An error occurred while installing healthcare: Could not find Row #20: Reference Document Type: Certification Application
Traceback (most recent call last):
  File "apps/frappe/frappe/commands/site.py", line 344, in install_app

[2022-05-22 14:29] chechani commented on #104
we created a new doctype called "Certification Application" and went ahead.

No issue after that.

[2022-05-28 06:25] fibersoft opened #105 "Clinical Procedure Templates"
Hello team frappe .... there is an issue in ITEM tab of clinical procedure template. ERP Next does not search item (product, service) in clinical procedure item tab that we have created already. So please look into this in healthcare domain completely.

Thanks

[2022-05-28 10:13] fibersoft opened #106 "HEALTHCARE Domain Item search or item code search"
Healthcare domain does not search item or item code in multiple documents. Anyone can help me?

[2022-05-28 10:54] fibersoft opened #153 "Clinical Procedure (Template)"
### Information about bug

In healthcare domain, multiple documents like Clinical Procedure and Clinical Procedure Template do not search Item or item code both for product and service.

### Module

other

### Version

ERPNext: v13.26.0 (version-13)

Frappe Framework: v13.26.0 (version-13)

### Installation method

FrappeCloud

### Relevant log output / Stack trace / Full Error Message.

[code]

[2022-05-30 13:21] akashkrishna619 commented on #105
When you save the Clinical Procedure Template, system will create the Item and link to the template.

[2022-05-30 13:21] akashkrishna619 commented on #105
Thanks for reporting this, Item link field is read_only - will enable this and push a fix

[2022-05-30 13:24] akashkrishna619 commented on #106
This is the same as [#105](https://github.com/frappe/healthcare/issues/105), closing this

[2022-05-30 13:27] akashkrishna619 commented on #104
@chechani Certification Application should not be a dependency for Healthcare as it's part of the Non Profit module. couldn't replicate this when i tried setting up, maybe you also have non profit module enabled?

[2022-05-30 13:28] #106 closed, assigned to nobody

[2022-06-01 04:57] chechani commented on #104
We are not using Non-Profit Module, nor it is enabled.

This error appeared when upgrading from version 13 stable to v14 beta

When doing fresh installation there is no issue.

[2022-06-08 13:48] fibersoft opened #108 "New Clinical Procedure Template (ISSUES)"
Hello team frappe- ERPNext
Hope you are all fine.

This is informed you that in Healthcare domain, the item we already have created, is not searchable in multiple documents  especially NEW CLINICAL PROCEDURE TEMPLATE. I have informed already to frappe team but issue has not been overcome.  Please have a test of complete healthcare domain to search item in different forms.

I hope this time the tea

[2022-06-08 14:26] fibersoft commented on #105
@akashkrishna619 you are right (When you save the Clinical Procedure Template, system will create the Item and link to the template)

But my concern about the item , we already have created, that is not searchable in CLINICAL PROCEDURE TEMPLATE. There are also some other fields in different forms of healthcare domain in which ITEM is not searchable. So please do some testing. The item field should

[2022-06-09 09:30] akashkrishna619 commented on #108
Hi, this [pr](https://github.com/frappe/healthcare/pull/107) should resolve the issues mentioned above. we'll be fixing the failing tests and get it merged

[2022-06-16 06:27] pythonpen commented on #75
Why is it required to build our apps / ERP to be FHIR native? Better to keep FHIR adaptor service outside the app where it can be adapted for various s interop purposes. The FHIR adaptor service can support reverse transformation too ie, from FHIR format to our app native data model.

This way lot of benefit as described in this article - https://medium.com/lifen-engineering/should-you-use-fhir-in

[2022-07-04 14:11] chlarsen opened #154 "Clinical Procedure Template Customizations do not reflect, when a Clinical Procedure is created"
### Information about bug

**Situation:** Advanced status of ERPNext (Healthcare) running on a Raspberry Pi4 with 8 GB RAM and external SSD for database access.

**Desired modification:** _Clinical Procedure Templates_ should be created for a series of antenatal care visits, designed as standard packages, which can be called up as procedures during patient encounters at the appropriate time for th

[2022-07-06 10:15] chlarsen opened #110 "Lab Test Sample vs Sample Collection"
Dear All,

I have a feature request (clinical pathway correction, if you prefer) for the sampling area:

You see, if you take for instance blood from a patient, you often use a number of different containers in accordance with prevalent laboratory standard operating procedures (SOPs). Example: A full blood count needs a purple-top EDTA vacutainer tube, while a liver function test requires a golden

[2022-07-11 10:06] akurungadam commented on #154
Thanks for reporting. Just checked this, looks like the Clinical Procedure is not currently mapped from the Template, only the consumables are copied to the related procedure. We'll need to push a fix to correct this.

We'll speed this up, but until we have a fix ready and merged, as a work around you can have a server script written to populate the custom fields from the template.

[2022-07-11 13:45] chlarsen commented on #154
Dear Anoop,
Thank you so much for the clarification! And, of course, for your tremendous help and support!
I will see what I can do in the meantime.
Hugely appreciated!
Chris

On 11 July 2022 10:06:35 UTC, Anoop ***@***.***> wrote:

[2022-07-12 04:19] akurungadam commented on #110
Dear Chris, thanks for posting in detail, this will definitely be a good addition.

We recently had started working on recording consumables for Lab Tests and Sample Collection by adding a child table with the consumables (Item) in Lab Test and Sample Collection (setup via Lab Test Template). This I guess can be utilized for indicating the sub sample containers and will also help in recording stoc

[2022-07-12 12:24] ChillarAnand commented on #105
This issue is fixed as part of https://github.com/frappe/healthcare/pull/107.

Let us know if you are still facing it. @fibersoft

[2022-07-13 06:06] ChillarAnand commented on #23
Patient history has all the required information of the patient. Users can add/remove specific items from patient history.

Feel free to re-open if you need any other details.

[2022-07-13 06:06] #23 closed, assigned to ChillarAnand

[2022-07-14 11:59] chlarsen commented on #110
Dear Anoop,
Child tables are certainly the way to go, but there is, like in https://github.com/frappe/healthcare/pull/107 a cavat:
Not very items are consumables.
You find a similar situation in the above issue, where not all item are consumables. Examples include documents (e.g. the antenatal care card) and counselling (for instance on  nutrition, exercise,...) in antenatal care visits, defined a

[2022-07-19 03:58] ChillarAnand commented on #74
@Freshdigits This issue is fixed in the latest version of Frappe Health.

Feel free to re-open if you still face issue after upgrading the app.

[2022-07-19 04:14] #74 closed, assigned to ChillarAnand

[2022-07-20 05:48] ChillarAnand commented on #104
Found a similar issue on another site but not able to replicate it.

[code]

While syncing portal items, this error is happening.

[2022-07-20 11:37] ChillarAnand commented on #104
In V13, NonProfit/Education and other modules were bundled as part of ERPNext.

But in V14, users have to install it manually.

If there are any portal pages related to the above modules, app install is failing at syncing portal menu.

If portal settings are fixed, healthcare app should install.

Closing this issue. Feel free to open if you are still facing the issue.

[2022-07-20 11:37] #104 closed, assigned to ChillarAnand

[2022-07-21 06:10] yadavyk opened #116 "Healthcare : Unable to get option to create new under some fields"
### Information about bug

Reference : https://github.com/frappe/erpnext/pull/26557

The option to create new doc is missing under certain fields such as Lab Test Template, Practitioners, complaints etc. on the Treatment Plan Template form

![create new option missing](https://user-images.githubusercontent.com/32797974/180141592-fabb7766-87bc-46c0-a342-06a10921bf25.gif)

### Module

other

### Ver

[2022-07-21 06:48] #116 closed, assigned to ChillarAnand

[2022-07-22 07:26] ChillarAnand opened #117 "Patient Portal for Frappe Health"
One of the common requirements for FH is patient portal.

We need to build portal pages for the following.

- Patients should be able to book appointments and see their appointments history.
- Patients should be able to view lab reports.
- Patients should be able to view their prescriptions. Currently, we are storing prescriptions as part of patient encounter.

[2022-07-22 13:04] yadavyk opened #118 "Capacity for service unit missing in Quick Entry for Healthcare Service Unit"
### Information about bug

The capacity for service unit is missing in Quick Entry for Healthcare Service Unit. So after filling in all details when a user tries submitting through quick entry it throws appropriate validation error and redirects to full form view

Expected :

![110899620-741db800-8327-11eb-9a81-3a329ec39921](https://user-images.githubusercontent.com/32797974/180444917-ede51eff-faa

[2022-07-26 05:37] ChillarAnand commented on #118
@yadavyk Service unit capacity is not mandatory by default.

May be on this site, it was made mandatory for testing and they forgot to add it to quick entry?

[2022-07-26 06:13] yadavyk commented on #118
@ChillarAnand , that's correct, it's not mandatory by default. If I check patient overlap then it's mandatory and should show up on Quick Entry in that case according to the PR : https://github.com/frappe/erpnext/pull/24860

[2022-07-26 09:21] yadavyk opened #122 "Healthcare Issues"
### Information about bug

1. The spelling of "skipping" and "overlapping" is incorrect in validation message thrown for overlapping appointment check

![spelling mistake in validation error helathcare](https://user-images.githubusercontent.com/32797974/180970673-fa3fcfcc-2266-47dd-be76-9bc4a791d9d6.png)

2. When you select healthcare practitioner first and then select department, the selection ma

[2022-07-26 11:11] #122 closed, assigned to ChillarAnand

[2022-07-28 06:14] ChillarAnand commented on #105
Closing this issue. Feel free to re-open if the issue persists.

[2022-07-28 06:14] #105 closed, assigned to nobody

[2022-07-29 01:50] pythonpen commented on #117
The above would be good, but the following should be also feasible

- features for hospital branding I would say is a must have.
- Enable random surveys  and questioners is a common requirement
- Option to edit profile information
- Session token limited Mobile OTP based Login option.

[2022-08-01 11:23] roshrnair opened #124 "Ability to create multiple therapy sessions from within therapy plan"
On creating a therapy plan multiple sessions will be associated with a therapy plan. These have to be created one after the other after the plan is created. If there is any option to set this during therapy plan creation  and therapy sessions auto created on saving a plan. Will.be a great user experience.

[2022-08-14 07:56] osama1998H opened #126 "Missing Options on Sales Invoice with Healthcare App in erpnext v14"
### hi there I have a problem with getting the patient fees in the sales invoice in v14
**but it works correctly in version 13 and nightly like this picture**

![photo_2022-08-14_10-40-59](https://user-images.githubusercontent.com/42488643/184527737-91673c3e-93fe-4d6b-a4d3-53727add74b6.jpg)

**These options are missing in version 14 with healthcare like this image**

![photo_2022-08-14_10-41-00](h

[2022-08-16 06:56] ChillarAnand commented on #126
This is fixed as part of https://github.com/frappe/health/pull/127.

Feel free to re-open if you are still facing the issue.

[2022-08-16 06:56] #126 closed, assigned to ChillarAnand

[2022-08-16 22:31] Abdo2021-a opened #129 "can i show here a calendar view fetched from patient appiontments ?"
![1](https://user-images.githubusercontent.com/82307815/184996444-f198b0e0-444c-4d5a-bdae-2d8e2f22a6fc.png)

[2022-08-18 11:16] ChillarAnand commented on #129
Users can go to `Patient Appointment` and click on calendar view to see it.

You can use https://discuss.erpnext.com/ to get fast response to general queries.

[2022-08-18 11:16] #129 closed, assigned to ChillarAnand

[2022-08-22 07:26] deepakc21 opened #131 "Error “App Healthcare is not installed” on previously running healthcare module"
Hello,
We are getting this error "App healthcare is not installed" when we create new patient encounters or create Lab tests, and it is unable to fetch certain patient data.
We have frappe ver 13 running on frappe cloud. Screenshots attached herewith for reference. I tried installing the "healthcare" app from the marketplace but the error still persists. Please help with the issue.
![tt1](https://

[2022-08-24 05:48] deepakc21 opened #132 "Unable to create new Lab test template - AttributeError: 'LabTestTemplate' object has no attribute 'link_existing_item'"
Facing issue in creating new Lab test template in the "Healthcare" module.

AttributeError: 'LabTestTemplate' object has no attribute 'link_existing_item'
![tt3](https://user-images.githubusercontent.com/97949896/186339994-29c166e5-0629-42b4-b55a-3afee45fde15.jpg)

Details of apps installed on frappe cloud:
![tt4](https://user-images.githubusercontent.com/97949896/186340151-68a2540b-9575-4d10-8919

[2022-08-27 09:45] osama1998H opened #133 "Can I Add Sales Team in Healthcare Doctypes"
###  I Want to Add a Sales Team to Healthcare Like Clinical Procedure and Lab tests to Calculate Incentive for Medical Team

and Shows These incentives in Sales Person Commission

[2022-08-29 06:10] deepakc21 commented on #131
Hello Anand,

Just checking if there is any update in the "Healthcare" app issue.

[2022-08-30 06:22] deepakc21 opened #134 "'Gender' field not being fetched in the Lab Test form"
Issue: Gender field not being fetched in the Lab Test form.

Steps to reproduce the bug:
1) Click on 'Lab Test' in the Laboratory function.
2) Click on 'Add Lab Test'.
3) Enter 'Test Template' and 'Patient' information.

Actual result:
1) Warning/message pops up - App healthcare is not installed
Failed to get method for command healthcare.healthcare.doctype.patient.patient.get_patient_detail with

[2022-08-30 14:24] akurungadam commented on #134
Hello @deepakc21, this is because `get_patient_detail` didn't run as mentioned in your other [issue](https://github.com/frappe/health/issues/131) I'm not sure how this can happen but this shouldn't be the case as healthcare is a module in version-13 and is a separate app only in version-14. Will check, and update you. Thanks for reporting

[2022-09-06 13:40] bibinqcs commented on #65
Is this being worked on?

[2022-09-19 07:33] chechani opened #138 "Merge latest develop to brnach hsr-insurance-wip as we want to test in live"
We would like to integrate insurance with the claim book application and want to try out the insurance branch of health, so any changes in the developed branch if merged to this branch will help a lot.

Thanks in advance

[2022-10-11 06:17] ChillarAnand commented on #138
@chechani Insurance branch has some bugs that are yet to be fixed. Once they are fixed, we will merge it to main branch.

If you want to try out locally, you can pull changes from this branch and test it out.

https://github.com/frappe/health/pull/66

If you need any other information, let us know.

[2022-10-11 06:17] #138 closed, assigned to ChillarAnand

[2022-10-11 06:30] ChillarAnand commented on #133
Can you explain in detail about your use case?

Do you want to add sales team to healthcare items and then autofill the data in sales invoice when fetching? Or do you want to directly calculate commission in healthcare items itself?

[2022-10-14 11:28] kavistyles opened #142 "New Healthcare Service Unit Type ; error message 'HSN/SAC Code is required. Please enter a valid HSN/SAC code.'"
Trying to create New Healthcare Service Unit Type  but on saving the document type it gives the error 'HSN/SAC Code is required. Please enter a valid HSN/SAC code.' whereas there is no such field in the form and even have already added it in services item master form.
![ss1](https://user-images.githubusercontent.com/103733217/195837344-1b3728f3-c2a7-4c86-8397-395e8541d5c0.png)

[2022-10-17 05:21] ChillarAnand commented on #142
India compliance app has setting to validate HSN/SAC codes.

When this setting is enabled, during item creation it is checking for valid HSN/SAC code and it is failing.

This will cause problems at other places as well like lab test template etc. Need to find an alternate way to fix this.

@akurungadam

[2022-10-17 09:12] ChillarAnand commented on #132
Please note that you are using V13 of frappe/erpnext. For v13, there is no need to install Frappe Health app. This will cause lot of conflicts.

Please use either
-  V13 of frappe/erpnext with "Healthcare" domain.
- V14 of frappe/erpnext + Frappe Health app.

Lab test template seems to be working fine on both v13 & v14.

Feel free to re-open the issue if you are able to reproduce it in either of t

[2022-10-17 09:12] #132 closed, assigned to nobody

[2022-10-17 09:24] ChillarAnand commented on #57
This issue is fixed in the latest version of Frappe Health.

Feel free to re-open if you are still facing the issue.

[2022-10-17 09:24] #57 closed, assigned to ChillarAnand

[2022-10-17 09:58] #40 closed, assigned to ChillarAnand

[2022-10-17 09:59] ChillarAnand commented on #40
This was happening due to permissions issues in lab test doctype. Fixed it in https://github.com/frappe/health/pull/144

[2022-10-17 11:01] deepakc21 commented on #132
Hello Anand,

I have removed the Frappe Health App.
![16](https://user-images.githubusercontent.com/97949896/196160202-27430dea-e731-4b97-83cf-de28ac821bb0.jpg)

I tried to create a "Lab test" and now we are having this error:
App healthcare is not installed
Failed to get method for command healthcare.healthcare.doctype.patient.patient.get_patient_detail with App healthcare is not installed.

![14

[2022-10-17 13:20] bibinqcs opened #145 "Practitioner Appointment Schedule Calendar View"
**Is your feature request related to a problem? Please describe.**
In the Patient Appointment feature, currently it is only possible to view the appointment with the patient name and time as shown below, It is not possible to view all the practitioners schedules side by side.

<img width="1020" alt="erpnext_calendar_view" src="https://user-images.githubusercontent.com/17405044/196182298-5cf6360c-9

[2022-10-18 12:58] ChillarAnand commented on #145
@bibinqcs Just to clarify, in patient appointment calendar view, we can see all practitioners schedule side by side. We can also click at any slot and create a new appointment.

There are few things we can do to enhance the UI.
- Show doctor name as well for appointments in calendar view.
- Change colour codings based on practitioner as well as service unit.

[2022-10-18 14:36] akurungadam commented on #142
Hi @ChillarAnand one option is to add HSN/SAC field and enable it if app india_compliance is installed. But I feel this should best be triggered only if / when india_compliance app is installed. As you see, install hooks of apps may not be able deal with this completely considering that there's no mandated order of installing apps. Maybe a hook that can be triggered when a specific app is installe

[2022-10-18 15:01] akurungadam commented on #134
Hi @deepakc21 if this site is hosted on frappecloud i think it should be fixed now. I've a test version-13 bench which is not showing this error after removing healthcare app and then restarting the bench. Doesn't look like it has something to do with the app, but will investigate once again

[2022-10-19 06:21] deepakc21 commented on #134
Hi @akurungadam I cleared cache and tried again but error still persists. I don't have access to the core files as they are hosted on Frappe cloud so I cannot invesitgate whether installation and uninstallation of "Health" app caused these errors.
![univ](https://user-images.githubusercontent.com/97949896/196611927-35a663bb-90da-466e-ba77-25a503a1dc94.jpg)
![univ1](https://user-images.githubuserco

[2022-10-19 06:38] akurungadam commented on #134
I too have faced this, and communicated to frappecloud Team. They are also troubleshooting this. Will post as I get any info. I've also requested not to make Frappe Health available on version-13 benches.  BTW, did you get to restart the bench as I was suggesting?

[2022-10-19 06:55] deepakc21 commented on #134
I tried but I can't find any option to restart the bench.
![univ2](https://user-images.githubusercontent.com/97949896/196618278-f4590994-c7d6-4c29-b88f-088cc689b433.jpg)
![univ3](https://user-images.githubusercontent.com/97949896/196618293-0d0037a8-09e9-4349-b5fc-a23779d0bbdd.jpg)

[2022-10-20 14:03] ernestoruiz89 opened #146 "Remove Experimental flag"
The product is robust enough to remove the experimental flag, meets the needs of a clinic and is functional.

![image](https://user-images.githubusercontent.com/1592496/196970462-839b843a-7b35-433d-875a-10de57cf1281.png)

[2022-10-23 12:21] ChillarAnand commented on #146
Good point @ernestoruiz89. Frappe Health is already being used for [many hospitals](https://discuss.erpnext.com/t/list-of-hospital-clinics-using-erpnext-healthcare/79721/2?u=chillaranand) through out the world.

[2022-10-23 13:11] #146 closed, assigned to ChillarAnand

[2022-10-26 04:57] ChillarAnand commented on #34
In the latest version of Frappe health, it is resolved.

Feel free to re-open if you are facing this again.

[2022-10-26 04:57] #34 closed, assigned to ChillarAnand

[2022-10-26 07:31] ChillarAnand commented on #39
This is fixed in https://github.com/frappe/erpnext/commit/21983b8432f5175f2fe28f69c9d661acd22eedd2.

Closing this issue. Feel free to re-open if you are still facing it.

[2022-10-26 07:31] #39 closed, assigned to ChillarAnand

[2022-11-03 18:24] praveen7488 opened #155 "Enhancement Request: Please consider adding "Home Exercises" section similar to "Exercises" section in Therapy Session."
In the Therapy Session request you to also add "Home Exercises" similar to the "Exercises" section so that patients can be prescribed home exercises as well.
![image](https://user-images.githubusercontent.com/117389387/199803695-4b01bd66-a54e-4dc9-9da1-ee557fb8d408.png)
@ChillarAnand

[2022-11-04 16:53] 3ml3ml opened #156 "Customer name link"
As a veterinary clinic, we activate the option to add multiple patients under 1 customer .. but in the customer list we don't see the customer name and instead the name of the latest patient added and the customer name is just ID.

during the invoice, if I am doing an invoice for any patient, the customer name is the latest add patient name.

For example:
- Customer : Michael -> has 2 pets
-- Luna

[2022-11-09 06:45] karthic-kailanware opened #157 "Frappe health not working in v14"
After installing getting internal server error on the site

[2022-11-09 07:13] karthic-kailanware commented on #157
Closing this since working fine in locallhost ubuntu 22.04

[2022-11-09 07:13] #157 closed, assigned to nobody

[2022-11-09 12:01] deepakc21 opened #158 "Server Error while creating payment entry from Sales Invoice"
Issue: Server Error while creating payment entry from Sales Invoice

Steps to reproduce the bug:

Click on 'Sales Invoice'
Enter details.
Click on save.
Create payment for the invoice.
Enter details.
Submit the entry.

Actual result:
ModuleNotFoundError: No module named 'healthcare.healthcare.doctype.insurance_claim'
![tp1](https://user-images.githubusercontent.com/97949896/200824786-28709f0f-86c8

[2022-11-10 03:55] #158 closed, assigned to ChillarAnand

[2022-11-10 11:46] mujeerhashmi opened #160 "feat: Email field for Healthcare Practitioner"
Just like we have an email for patients we need to have an email field for the healthcare practitioner. It should also be in the quick entry form.

[2022-11-10 17:25] akurungadam commented on #134
sorry for not coming back on this any earlier, but could you please check if this is resolved now?

[2022-11-11 05:16] deepakc21 commented on #134
Hello Anoop, I couldn't get it resolved. My 2 sites on frappe cloud had the same issue.
1) For the first site, I had no option but to update to ERPnext v-14 and reinstall health module. I lost my patients data in the transition.
2) For the second site, I tried upgrading to ERPnext v-14 but the system just couldn't upgrade. Found out that an "[POSawesome](https://frappecloud.com/marketplace/apps/po

[2022-11-12 13:57] akurungadam commented on #134
Hi Deepak, thanks for coming back. Sorry about the data loss (hope you had backups) and other hurdles, Frappe Cloud Team has already stopped allowing installation of healthcare app on version-13 benches.  Also, if you need assistance migrating healthcare enabled sites to version-14 do post here.

If anyone else is facing this issue on custom version-13 benches on FC, removing health app from the b

[2022-11-13 13:59] mojerro opened #161 "[BUG]When using other language except English, will meet error: Could not find Parent Item Group: All Item Groups"
same as #30 . I'm trying to install ERPNext in Chinese, and I met an error shows `frappe.exceptions.LinkValidationError: Could not find Parent Item Group: All Item Groups`.

I found items saved in the database are translated into Chinese and the health app trying to find the item in English. Is there any way to install it successfully with out changing the DB directly.

[2022-11-14 05:33] deepakc21 commented on #134
Thank you for all the help @akurungadam . There were no backups but Frappe team restored the site so that I could download the data and upload them in the new site.
Please feel free to close this bug.

[2022-11-15 08:48] praveen7488 commented on #150
I agree. When I tried using the Treatment Plan Template from Patient Encounter, on hitting the "Get Applicable Treatment Plans" button in the Encounter Impression section, no preconfigured items, drugs, clinical procedures, or lab tests are fetched.

Not sure how to solve this though.

I tried in ERPNext: v13.36.2 (version-13); Frappe Framework: v13.36.3 (version-13).

[2022-11-15 10:10] mujeerhashmi commented on #150
The patient encounter should be first saved to be able to use treatment plans.

[2022-11-20 02:59] #134 closed, assigned to akurungadam

[2022-11-22 09:18] pushkarjsh88 opened #163 "Queue Management"
**Background:-**

Recently, one of our Healthcare customers enquired whether we have a workflow for Queue Management in the system. It appeared to be their ‘Nice To Have’ requirement but I thought of collecting more details about the workflow as its inclusion in the system might add some value to the product.

The details gathered through customer interaction and some online research on the same a

[2022-11-22 09:46] pushkarjsh88 opened #164 "Commission Based Payment For Doctors"
**Background:-**

The healthcare provider has a category of doctors and technicians who are paid based on the accumulated commissions. Instead of giving a fixed salary to doctors/technicians belonging to this category, commissions are applied to them based on different diagnostic cases handled by them over a period of time. The accumulated commissions are paid to those doctors/technicians through

[2022-11-22 10:13] pushkarjsh88 opened #165 "Tele Consultation"
**Background:-**

Tele consultation has gained tremendous popularity since the beginning of the Covid-19 pandemic. When healthcare facilities were overwhelmed due to the pandemic, many healthcare practitioners/therapists preferred tele consultation as a primary medium for performing their patient encounters. Since then, it has been widely used by different healthcare departments for addressing non

[2022-11-23 04:09] mujeerhashmi commented on #164
Thanks for the detailed write-up @pushkarjsh88. The commissions are not limited to lab tests alone but are extended to OP, IP, Lab and Pharmacy also in some cases.